.header {
  font-family: "Roboto Slab", sans-serif;
  display: flex;
  align-items: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)), url("../../assets/header-img.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  min-height: 576px;
  /* not surre best option */
  height: 80px;
  color: #fff;
  flex-direction: column;
  transition:
    background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 26px 104px;
  border-bottom: 1px solid #ffffff33;
  box-sizing: border-box;
}

.header__logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}
